* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #050748;
  --pink-text-color: #e60072;
  --grey-text-color: #6a6a8e;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  color: var(--grey-text-color);
}
span {
  color: var(--grey-text-color);
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
